:root {
  --global-color-secondary: #000000;
  --global-color-primary: #FFFFFF;
  --global-font-family: Poppins;
  --global-font-red: #FF0000;

  --base-font-size: 1.6rem;

  --font-size-14: max(12px, 0.625vw);
  --font-size-16: max(14px, 0.833vw);
  --font-size-18: max(14px, 0.937vw);
  --font-size-20: max(18px, 1.041vw);
  --font-size-24: max(16px, 1.250vw);
  --font-size-40: max(24px, 2.083vw);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}

* {
  font-family: var(--global-font-family), sans-serif !important;
  padding: 0;
  margin: 0;
}