:root {
  --global-color-secondary: #000000;
  --global-color-primary: #FFFFFF;
  --global-font-giselle: 'Giselle', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.italic {
  font-style: italic;
}

.medium {
  font-weight: 500;
}