/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --global-color-secondary: #000000;
  --global-color-primary: #FFFFFF;
  --global-font-family: Poppins;
  --global-font-red: #FF0000;
  --base-font-size: 1.6rem;
  --font-size-14: max(12px, 0.625vw);
  --font-size-16: max(14px, 0.833vw);
  --font-size-18: max(14px, 0.937vw);
  --font-size-20: max(18px, 1.041vw);
  --font-size-24: max(16px, 1.250vw);
  --font-size-40: max(24px, 2.083vw);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  font-family: var(--global-font-family), sans-serif !important;
  padding: 0;
  margin: 0;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/shared/ui/header/styles.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.app-header-container {
  width: 100%;
  height: auto;
  padding: 12px;
  display: flex;
  justify-content: center;
  background-color: var(--global-color-secondary);
}
.app-header-container .action-links {
  cursor: pointer;
  display: flex;
  gap: 24px;
  max-width: max-content;
  font-size: var(--font-size-16);
}
.app-header-container .action-links .app-header-link {
  display: flex;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-14) !important;
  color: var(--global-color-primary) !important;
  text-decoration: none !important;
  justify-content: center;
  align-items: center;
}
.app-header-container .action-links .input-field-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--global-color-primary) !important;
}
.app-header-container .action-links .input-field-wrapper .input-base {
  width: 80%;
  height: 25px;
  padding: 2px;
  background-color: var(--global-color-primary) !important;
  font-size: var(--font-size-14) !important;
}
.app-header-container .action-links .input-field-wrapper .input-field {
  padding: 5px;
}
.app-header-container .action-links .input-field-wrapper .search-icon {
  color: rgba(66, 66, 66, 0.3764705882) !important;
}
